div {
    box-sizing: border-box;
}

button {
    padding: 15px;
    font-weight: 900;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.width {
    width: 100%;
}

.height {
    height: 100%;
}

.login-component {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-component div {
    width: 400px;
}

.LightBlue {
    color: white;
    background-color: #0066FF;
}

.modal {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

.closeButton:hover {
    cursor: pointer;
}

.radiolist {
    float: left;
}

.background {
    margin: 15px;
}

.location {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
@media screen and (max-width : 768px) {
    .radiolist {
        margin-top: 0px;
    }
}