div {
    box-sizing: border-box;
}

button {
    padding: 15px;
    width: 100%;
    font-weight: 900;
    text-align: center;
    border-radius: 10px;
    border: none;
}

input {
    width: 100%;
}
.login-component {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-component div {
    width: 400px;
    margin: 15px;
}

.LightBlue {
    color: white;
    background-color: #0066FF;
}

